body{
    height: 100vh;
    background-image: url(../img/pizza_back\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    font-family: 'Roboto', sans-serif;
}

body::after{
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(0deg, #fff0 0%, rgba(242,119,6,1) 100%);
    z-index: -1;
}

header{
    
    height: 150px;

}

main{
    flex-grow: 1;
    display: flex;
    gap: 100px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.conteudo-container{
    color: white;
}

.conteudo-container h1{
    width: 230px;
}

.conteudo-container p{
    width: 300px;
}